@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

*{
    margin:0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

html {
    font-size:100%;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background:none;
    width: 400px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.theme {
    display: flex;
    align-items: center;
}

.theme>span {
    margin-top: 16px;
    margin-right: 20px;
    font-size: .4rem;
}

.themeSwitcher {
    display: block;
    justify-content: center;
}

.themeSwitcher span {
    font-size: .3rem;
}

.themeSwitcher .theme-switcher-buttons {
    width: 84px;
    padding: 4px;
    height: 8px;

}

.themeSwitcher .theme-switcher-buttons span {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    color: #000;
}


.attribution { 
    font-size: 11px;
    position: absolute;
    bottom: 20px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    font-size: .8rem;
 }
.attribution a {
    color: hsl(228, 45%, 44%);

}
