@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

*{
    margin:0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

html {
    font-size:100%;
}

body {
    width: 100vw;
    height: 100vh;
    background: none;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background:none;
    width: 260px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px ;
}

.header p {
    margin-top: 20px;
    font-size: 1.2rem;
}

.theme {
    display: flex;
    align-items: center;
}

.theme>span {
    margin-top: 16px;
    margin-right: 20px;
    font-size: .5rem;
}

.themeSwitcher {
    display: block;
    justify-content: center;
    align-items: center;
}

.themeSwitcher span {
    font-size: .3rem;
    letter-spacing: 5px;
    padding-left: 2px;
}

.themeSwitcher .theme-switcher-buttons {
    width: 40px;
    height: 15px;
    background:blue;
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    align-items: center;
    padding: 0 .8px;
}

.themeSwitcher .theme-switcher-buttons div {
    width: 9px;
    height: 9px;
    border-radius: 100%;
    background: #000;
    cursor: pointer;
}

.result-board {
    background: rosybrown;
    font-size: .9rem;
    display: flex;
    justify-content:right;
    align-items: center;
    border-radius: 8px;
    width: 100%;
    height: 70px;
    padding: 0 12px;
    margin-bottom: 12px;
}

.calculation-input-keys .calculationButtons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
        "seven eight nine del" 
        "four  five six  plus"
        "one   two  three minus"
        "dp   zeroNo slash  timesSymbol"
        "reset  reset  equals  equals";

    padding: 12px;
    border-radius: 8px;
    background: rebeccapurple;
    gap: 12px;
}

.numbers, .operators, .decimal-point, .functions {
    border-radius: 8px;
    border: none;
    border-bottom: 3px solid;
    width: 100%;
    height: 30px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .4s;
}

.numbers .seven {
    grid-area: seven;
}

.numbers .six {
    grid-area: six;
}

.numbers .five {
    grid-area: five;
}

.numbers .four {
    grid-area: four;
}

.numbers .three {
    grid-area: three;
}

.numbers .two {
    grid-area: two;
}

.numbers .one {
    grid-area: one;
}

.numbers .eight {
    grid-area: eight;
}

.numbers .nine {
    grid-area: nine;
}

.reset {
    grid-area: reset;
}

.submit {
    grid-area: equals;
}

.functions {
    font-size: .9rem;
}

.attribution { 
    font-size: 11px;
    margin-top: 20px;
    position: fixed;
    bottom: 10px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    font-size: .8rem;
 }
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (orientation:landscape) {
    body {
        width: 100vh;
        height: 100vw;
        background: none;
    }

    .container {
         margin-top: 150px;
    }
}