@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

*{
    margin:0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

html {
    font-size:100%;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate();
}


.attribution { 
    font-size: 11px;
    text-align: center;
 }
.attribution a {
    color: hsl(228, 45%, 44%);
}
