body{
    background:   hsl(268, 75%, 9%);
}

.header p, .themeSwitcher span, .theme>span {
    color:hsl(52, 100%, 62%);
}

.themeSwitcher .theme-switcher-buttons {
    background:hsl(268, 71%, 12%);
}

.theme-switcher-buttons div.btn3{
    background:  hsl(176, 100%, 44%);
}

.theme-switcher-buttons div.btn1, .theme-switcher-buttons div.btn2 {
    background: none;
}

.result-board, .calculation-input-keys .calculationButtons {
    background: hsl(268, 71%, 12%);
}

.result-board h1 {
    color: hsl(52, 100%, 62%);
}

.numbers, .operators, .decimal-point { 
    background:  hsl(268, 47%, 21%);
    border-color: hsl(290, 70%, 36%);
    color: hsl(52, 100%, 62%);
}

.numbers:hover, .operators:hover, .decimal-point:hover {
    background: hsl(268, 77%, 43%) ;
} 

.functions {
    background:  hsl(281, 89%, 26%);
    border-color:  hsl(285, 91%, 52%) ;
    color: hsl(0, 0%, 100%);
    transition: .4s;
}

.functions:hover {
    background: hsl(281, 87%, 51%);
}

.submit {
    background: hsl(176, 100%, 44%);
    border-color:hsl(177, 92%, 70%);
    color: hsl(268, 75%, 9%);
}

.submit:hover {
    background:  hsl(176, 100%, 78%);
}
